services:
  postgres:
    image: postgres:15
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    restart: unless-stopped

  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT:-3000}:3000"
    volumes:
      - ./backend:/app # development volume
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
    restart: unless-stopped
    depends_on:
      - postgres
  
  frontend:
    build: ./frontend
    ports:
      - "${FRONTEND_PORT:-8080}:5173"
    volumes:
      - ./frontend/src:/app/src # development volume
    environment:
      - VITE_BACKEND_URL=http://localhost:${BACKEND_PORT:-3000}
    restart: unless-stopped
    depends_on:
      - backend